---
import CartItemCount from "./CartItemCount.astro";
import IconCart from "./IconCart.astro";
---

<button class="snipcart-checkout inline-flex items-center">
    <IconCart />
    <span class="w-6 aspect-square grid place-items-center rounded-full bg-sky-500 text-white -translate-y-2 text-sm font-semibold">
        <CartItemCount class=" leading-none" />
    </span>
</button>