---
import type { HTMLAttributes } from "astro/types";
import IconLoader16Px from "./IconLoader16px.astro";

interface Props extends HTMLAttributes<'span'> {

    animate? : boolean,

    /**
     * @props <span> props
     */
    props?: true
}

const { 
    animate = true,
    class: className, 
    ...rest 
} = Astro.props
---

<span class:list={['snipcart-total-price inline-block', className]} {...rest}>
    { animate && <IconLoader16Px /> }
</span>