---
import Bio from "../Base/Bio.astro";
import H2 from "../Heading/H2.astro";
---
<H2>Meet Our Team</H2>
<div class="grid gap-6">
    <Bio
        name="Louise Kaye"
        title="Company Founder"
        bio="With over 50 years of experience in the homestay industry, Louise is the founder of Elite Canadian Homestay."
        src="/temp/person.webp"
    />

    <Bio
        name="Mary O'Reilly"
        title="Program Coordinator"
        bio="As a Program Coordinator for over 10 years, Mary excels in connecting students with excellent, appropriate Host Families. She has hosted 100+ students in her own home and is a mother of 10 and grandmother to over 30."
        src="/temp/person.webp"
    />

    <Bio
        name="Marilyn Cartwright"
        title="Program Coordinator"
        bio="Over the past decade Marilyn has served as a homestay parent, assistant coordinator and now programme coordinator. She is well know for organizing extra outings and craft nights with an energetic, fun and outgoing personality. Marilyn has 1 daughter and 4 grandchildren."
        src="/temp/person.webp"
    />

    <Bio
        name="Zoey (Huimin) Yang"
        title="Regional Manager, Program Coordinator"
        bio="Since 2018, Zoey has warmly hosted numerous students in her home, where her twin boys currently reside. She loves the program, and maintains excellent contact with host families via Facebook and Whatsapp."
        src="/temp/person.webp"
    />
</div>