---
import TextBlock from "../Base/TextBlock.astro";
import H2 from "../Heading/H2.astro";
---

<TextBlock>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium perferendis necessitatibus? Necessitatibus, totam temporibus!</p>
    <H2>Introduce Yourself Here</H2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt voluptatibus omnis ex. Nihil laboriosam facere distinctio ea neque aperiam consequatur optio soluta a temporibus, possimus voluptates earum quaerat! Illum enim odit harum nulla! Tempore repudiandae suscipit quaerat nostrum consequatur itaque ipsa, debitis inventore consectetur a placeat, explicabo praesentium impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt voluptatibus omnis ex. Nihil laboriosam facere distinctio ea neque aperiam consequatur optio soluta a temporibus, possimus voluptates earum quaerat! Illum enim odit harum nulla! Tempore repudiandae suscipit quaerat nostrum consequatur itaque ipsa, debitis inventore consectetur a placeat, explicabo praesentium impedit?</p>
</TextBlock>