---
import Wrapper from "../Wrapper.astro";
import type { HTMLAttributes } from "astro/types";
import { HERO_IMG_PATH } from "../../config";

interface Props extends HTMLAttributes<'section'> {
    
    variant : 'fullscreen' | 'fitcontent'

    /**
     * @extends <section>
     * @prop variant : 'fullscreen' | 'fitcontent'
     */
    props? : true
}

const { variant, ...rest} = Astro.props

---


<!-- data-element hero is used for navbar transparency toggle -->


<section 
    id="hero" 
    data-element="hero" 
    class={`
        relative bg-cover bg-blend-multiply bg-primary-800
        ${variant === 'fullscreen' ? 'min-h-screen grid items-center' : ''}
        ${variant === 'fitcontent' ? '' : ''}
    `}
    style={`
        ${variant === 'fullscreen' ? `background-image : url(${HERO_IMG_PATH})` : ''}
    `}
    {...rest}
>
    
    <Wrapper 
        width="max" 
        padding="inline"
        class={`
            bg-cover
            ${variant === 'fullscreen' ? 'grid items-center mt-24' : ''}
            ${variant === 'fitcontent' ? 'relative rounded-xl overflow-hidden py-12' : ''}
        `}
        style={`
            ${variant === 'fitcontent' ? `background-image : url(${HERO_IMG_PATH})` : ''}
        `}
    >

        <slot />

    </Wrapper>

</section>





