---
import Columns from "../../components/Base/Columns.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import H1 from "../../components/Heading/H1.astro";
import H2 from "../../components/Heading/H2.astro";
import Section from "../../components/Layout/Section.astro";
import Layout from "../../layouts/Layout.astro";
import Image from "../../components/Base/Image.astro";
import WorkTogetherBanner from "../../components/Sections/WorkTogetherBanner.astro";
import CtaButton from "../../components/Base/CtaButton.astro";
import HeroSection from "../../components/Sections/HeroSection.astro";
import BenefitsSection from "../../components/Sections/BenefitsSection.astro";
import FeaturesSection from "../../components/Sections/FeaturesSection.astro";
import TestimonialsSection from "../../components/Sections/TestimonialsSection.astro";
import CaseStudySection from "../../components/Sections/CaseStudySection.astro";
import ExplorePlansBanner from "../../components/Sections/ExplorePlansBanner.astro";
---

<Layout props
	title="Local web designer in Edmonton, Alberta"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
>

    <HeroSection />

    <Section>

        <Columns cols={2} class="gap-4">
        
            <TextBlock>
                <p>
                    Looking for expert <strong>Edmonton web design</strong> services? As a skilled web designer and developer based in Edmonton, Alberta, I specialize in creating custom websites that are not only visually appealing but also drive business growth at an affordable price. Whether you're a small business, entrepreneur, or professional looking to establish a strong online presence, I offer tailored web design solutions that align with your goals.
                </p>

                <H2>Why Choose My Edmonton Web Design Services?</H2>
                
                <p>
                    With years of experience in <strong>Edmonton web design</strong>, I craft websites that deliver results. From responsive design and fast load times to user-friendly navigation and SEO optimization, every aspect of your site is carefully designed to engage visitors and convert them into customers. I focus on building websites that reflect your unique brand and help your business stand out in Edmonton's competitive online market.
                </p>
    
                <H2>Custom Web Design in Edmonton, Alberta</H2>
    
                <p>
                    Every business is different, and your website should be, too. I offer custom <strong>small business web design</strong> services that are tailored to meet the specific needs of your business. Whether you're in need of a simple brochure site or a complex e-commerce platform, I ensure your website is designed to suit your objectives. Plus, with mobile optimization and best SEO practices integrated into every project, your site will be accessible and discoverable on all devices.
                </p>
    
                <p>
                    Let me help you create a website that works as hard as you do. <a href="/contact">Contact me today</a> to get started on your custom <strong>small business website</strong>!
                </p>
            </TextBlock>

            <div class="grid gap-4 justify-end">

                <Image 
                    src="/projects/vitality-fitness-desktop-1.webp"
                    width={450}
                    height={380}
                    alt="Custom website design by Edmonton web designer showcasing responsive, user-friendly layout and branding for local business"
                />

                <Image 
                    src="/projects/elite-homestay-desktop-1.webp"
                    width={450}
                    height={380}
                    alt="Custom website design by Edmonton web designer showcasing responsive, user-friendly layout and branding for local business"
                    class="md:mb-6"
                />

            </div>

        </Columns>

    </Section>

    <BenefitsSection />
    
    <FeaturesSection />

    <ExplorePlansBanner />
    
    <TestimonialsSection />
    
    <CaseStudySection />
    
    <div class="h-6"></div>
    
    <WorkTogetherBanner />

</Layout>