---
import Icon from "../Base/Icon.astro";
import Section from "./Section.astro";
import { ArrowUpCircle } from 'lucide'
---

<Section props 
    py-none
    id="back-to-top-button-wrapper"
    class="!fixed z-[9999] -bottom-24 left-0 right-2 transition-all duration-300 pointer-events-none"
>
    <a 
        href="#top"
        class="fic-2 ml-auto w-fit px-4 py-2 text-base rounded-md bg-primary-100 hover:bg-primary-200 pointer-events-auto font-medium"
        id="back-to-top-button"
    >
        <Icon icon={ArrowUpCircle} stroke-width="1" />
        Back to Top
    </a>
</Section>

<script src="../../js/components/BackToTopBtn.ts"></script>