---
import Icon from "../Base/Icon.astro";
import Section from "./Section.astro";
import { ArrowUpCircle } from 'lucide'
---

<Section props 
    py-none
    id="back-to-top-button-wrapper"
    class="!fixed z-[9999] -bottom-24 left-0 w-full h-1 right-2 transition-all duration-300 pointer-events-none"
>
    <div class="relative">
        <a 
            href="#top"
            title="Back to top"
            id="back-to-top-button"
            class="absolute right-0 bottom-0 p-2 pointer-events-auto text-primary-700 hover:text-secondary-500 active:scale-95"
        >
            <Icon icon={ArrowUpCircle} stroke-width="1" class="w-10 h-10 fill-primary-25/90" />
        </a>
    </div>
</Section>

<script>
// @ts-expect-error
import debounce from 'lodash.debounce'

document.addEventListener('astro:page-load', () => {
    
    const backToTopBtnWrapper = document.querySelector('#back-to-top-button-wrapper') as HTMLDivElement
    const backToTopBtn = document.querySelector('#back-to-top-button') as HTMLAnchorElement
    
    backToTopBtn.addEventListener('click', () => {
        scrollTo({ top : 0,  behavior : 'smooth' })
    })
    
    document.addEventListener('scroll', debounce( () => {
        if( scrollY > window.screen.height) {
            // Show
            backToTopBtnWrapper.classList.add('bottom-2')
            backToTopBtnWrapper.classList.remove('-bottom-24')
        } else {
            // Hide
            backToTopBtnWrapper.classList.add('-bottom-24')
            backToTopBtnWrapper.classList.remove('bottom-2')
        }
    }, 100))

})

</script>