---
import Icon from "../Base/Icon.astro";
import Section from "./Section.astro";
import { ArrowUpCircle } from 'lucide'
---

<Section props 
    py-none
    id="back-to-top-button-wrapper"
    class="!fixed z-[9999] -bottom-24 left-0 right-2 transition-all duration-300 pointer-events-none"
>
    <a 
        href="#top"
        class="fic-2 ml-auto w-fit px-4 py-2 text-base rounded-md bg-primary-100 hover:bg-primary-200 pointer-events-auto font-medium"
        id="back-to-top-button"
    >
        <Icon icon={ArrowUpCircle} stroke-width="1" />
        Back to Top
    </a>
</Section>

<script>
// @ts-ignore
import debounce from 'lodash.debounce'

const backToTopBtnWrapper = document.querySelector('#back-to-top-button-wrapper') as HTMLDivElement
const backToTopBtn = document.querySelector('#back-to-top-button') as HTMLAnchorElement

backToTopBtn.addEventListener('click', e => {
    e.preventDefault()
    scrollTo({
        top : 0, 
        behavior : 'smooth'
    })
})

function showBackToTopBtn() {
    backToTopBtnWrapper.classList.add('bottom-2')
    backToTopBtnWrapper.classList.remove('-bottom-24')
}

function hideBackToTopBtn() {
    backToTopBtnWrapper.classList.add('-bottom-24')
    backToTopBtnWrapper.classList.remove('bottom-2')
}

document.addEventListener('scroll', debounce( () => {
    if( scrollY > window.screen.height) {
        showBackToTopBtn()
    } else {
        hideBackToTopBtn()
    }
}, 500))

</script>