---
import MobileMenuBtn from '../Nav/MobileMenuBtn.astro';
import { getPages } from "../../js/getPages";
import NavLink from '../Nav/NavLink.astro';
import Logo from '../Base/Logo.astro';
import Section from './Section.astro';
import CtaButton from '../Base/CtaButton.astro';
import MegaMenu from '../Nav/MegaMenu.astro';

const headerPages = getPages().byGroup('header').all()

/**
 * NavBar ordering
 * 
 * Mobile
 * Logo - CTA - MobileMenuBtn
 * Nav(absolute position)
 * 
 * Desktop
 * Logo - Nav - CTA
 * MobileMenuBtn(hidden)
 * 
 */
---

<header
    data-element="header"
    class="sticky top-0 left-0 right-0 z-[999] bg-primary-900 font-base text-primary-50"
>

    <Section width="full" contentWidth='content' py-none>

        <div class="relative fic-4 justify-between py-2">

            <Logo />

            <CtaButton />

        </div>

    </Section>

</header>

<style is:global>
@media screen and (max-width: 1024px) {
    body[data-mobile-menu="open"] nav,
    nav:has( a:focus ) {
        padding-block : 2rem;
        max-height: 1000px;
    }
}
</style>
    
<script>

import { isClicked } from "../../js/isClicked"
    
/**
 * If the user clicked outside of the menu, close the mobile menu
 */
document.addEventListener('astro:page-load', () => {
    window.addEventListener('click', (e: MouseEvent) => {
    
        const header = document.querySelector('header') as HTMLElement
        const nav = document.querySelector('nav') as HTMLElement
    
        if( 
            !isClicked({e, el: header}) && 
            !isClicked({e, el: nav}) 
        ) {
            document.body.dataset.mobileMenu = 'closed'
        }
    })
})
</script>