---
import { ClientRouter } from 'astro:transitions'
import { SITE_SHORT_NAME } from '../../config/site'
import Favicon from './Favicon.astro'
import SocialPreview from './SocialPreview.astro'

interface Props  {
	title : string,
    description : string,
	props? : true
}

const {
    title = '',
    description = '',
} = Astro.props
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#D7CCC1" />
    <meta name="description" content={description}>
    <title>{title + ' - ' + SITE_SHORT_NAME}</title>
    <Favicon />
    <SocialPreview title={title} description={description} />
    <ClientRouter />
    <slot name="head" />
</head>
