---
import type { HTMLAttributes } from 'astro/types';

/** Width of Wrapper.
 * Default is width of 1600px
 * full = 100%
 * text = 70ch
 */
type width = 'full' | 'content' | 'slim'

interface Props extends HTMLAttributes<'section'> {

    /** 
     * Width of Section
     */
    width? : width

    /** 
     * Width of inner Content div.
     */
    contentWidth? : width

    /** 
     * Default padding applied to inline, block, or both 
     * When px or py is set to none, no px or py is set to allow
     * other paddings added thru class prop
     * 
     */
    'px-none'? : boolean,
    'py-none'? : boolean,
    
    class? : string,

    /**
     * @prop width: 'full' | 'content' | 'slim' - Default 'content'
     * @prop contentWidth: 'full' | 'content' | 'slim' - Default 'content'
     * @prop px-none : boolean
     * @prop py-none : boolean
     * @prop class
     * @prop slot
     */
    props? : true
}

const { 
    width = 'content',
    contentWidth = 'content',
    ['px-none'] : pxNone = false,
    ['py-none'] : pyNone = false,
    class : className = '',
    ...rest
} = Astro.props
---

<section
    class:list={[
        'mx-auto w-full relative',
        { 'max-w-[1600px]' : width === 'content'},
        { 'max-w-[70ch]'   : width === 'slim' },
        { 'px-3 md:px-8'   : !pxNone },
        { 'py-12' : !pyNone },
        className
    ]} 
    {...rest}
>

        { contentWidth === 'full' && 
            <slot />
        }

        { contentWidth === 'content' &&
            <div class="max-w-[1600px] mx-auto">
                <slot />
            </div>
        }

        { contentWidth === 'slim' &&
            <div class="max-w-[70ch] mx-auto">
                <slot />
            </div>
        }

</section>