---
import Columns from "../Base/Columns.astro";
import Quote from "../Base/Quote.astro";
import TextBlock from "../Base/TextBlock.astro";
import H2 from "../Heading/H2.astro";
import Section from "../Layout/Section.astro";
import Image from "../Base/Image.astro";
---

<Section width="full" id="case-study" class="bg-primary-100">
    
    <Columns cols={2} class="gap-4">
        
        <TextBlock>
            <H2>Louise's story of successs</H2>
            <p>
                Louise approached me to create a website for her Canadian homestay business, aiming to attract international students and showcase the unique experience she offers. She needed a site that was visually appealing, easy to navigate, and made signing up easier for her clients.
            </p>
            <p>
                I designed a custom, mobile-friendly site that highlighted Louise's welcoming environment and local experiences while working with an SEO team to ensure the website would rank well and reach the right audience.
            </p>
            <p>
                Since the site launched, Louise has seen a noticeable increase in inquiries and bookings. With a strong online presence, the website has not only helped her connect with more students but also improved her business operations, making it an essential tool for her growing homestay.
            </p>
            <Quote
                name="Louise, Owner of Elite Canadian Homestay"
                quote="Working with Josh to create my homestay business website was great! Josh created a nice design and made it easier for clients to sign up to our programs. He also updated our SEO"
            />
        </TextBlock>

        <div>
            <Image
                src="/projects/elite-homestay-cover.webp"
                width={400}
                height={400}
                alt=""
                class="w-full max-w-xl aspect-square object-cover"
            />
        </div>
    </Columns>
    
</Section>