---
import { Telescope } from "lucide";
import Button from "../Base/Button.astro";
import Icon from "../Base/Icon.astro";
import Section from "../Layout/Section.astro";
---

<Section width="full" py-none>
    <div class="fic-6 flex-col text-center justify-center px-6 py-12 bg-primary-900 text-primary-100 w-full rounded-md bg-[url(/img/flurry.svg)]">
        <p class="text-2xl font-semibold tracking-wider">
            Want a website that works for you?
        </p>
        <Button as="a" href="/plans" class="w-fit !px-8 mx-auto">
            Explore web design + web hosting packages
            <Icon icon={Telescope} class="shrink-0" />
        </Button>
    </div>
</Section>