---
import CtaButton from "../Base/CtaButton.astro";
import Review from "../Base/Review.astro";
import TextBlock from "../Base/TextBlock.astro";
import H2 from "../Heading/H2.astro";
import Section from "../Layout/Section.astro";
---

<Section contentWidth="slim">
    <TextBlock class="mb-12">

        <H2>What my clients say:</H2>
        
        <div class="grid gap-8">

            <Review 
                review="It was a fantastic experience working with Josh. He is really fast, smart and capable. He helped me with multiple WordPress site updates"
                name="Howard Davidson, Almond Fintech"
            />

            <Review
                review="Working with Josh to create my homestay business website was great! Josh created a nice design and made it easier for clients to sign up to our programs. He also updated our SEO"
                name="Louise Kaye, Elite Canadian Homestay"
            />

            <Review 
                review="I am thrilled with how the Tri-City Bikes and Brews website turned out and would definitely recommend Josh more for his creativity and professionalism!"
                name="Bill, Tri City Bikes and Brews"
            />
        </div>

    </TextBlock>
    <CtaButton />
</Section>