---
import Section from "../Layout/Section.astro";
---
<Section class="bg-primary-100">
    <h1 class="text-4xl font-semibold tracking-wide font-theme select-none">
        <slot />
    </h1>
</Section>
