---
import Section from "../Layout/Section.astro";
---
<Section contentWidth="slim" class="bg-primary-100">
    <h1 class="text-4xl font-semibold tracking-wide font-theme">
        <slot />
    </h1>
</Section>
