---
import Section from "../Layout/Section.astro";
---
<Section 
    width="full"
    contentWidth="content"
    class="bg-primary-900 text-primary-100 bg-[url(/img/flurry.svg)]"
>
    <h1 class="text-4xl font-semibold tracking-wide font-theme select-none border-l-4 border-secondary-400 pl-2">
        <slot />
    </h1>
</Section>
