---
import { PAGES } from "../config/pages";
import Layout from "../layouts/Layout.astro";
import Image from "../components/Base/Image.astro";
import Columns from "../components/Base/Columns.astro";
import Section from "../components/Layout/Section.astro";
import SiteMap from "../components/Base/SiteMap.astro";

---

<Layout props
    lang="en"
    title="Page Not Found"
    description="This page cannot be found"
>

    <Section contentWidth="slim">
        <Columns cols={2}>
            <div class="self-center">
                <h1 class="text-3xl mb-4">Error: Page not found</h1>
            </div>
        
            <Image 
                src="/img/404.webp"
                class="mix-blend-darken"
                width={319}
                height={148}
                alt="Error 404"
            />
        </Columns>
    </Section>

    <Section contentWidth="slim" py-none>

        <p class="mb-4">We're sorry, the page you are looking for could not be found. Here is a list of all our pages:</p>

        <SiteMap />

    </Section>

</Layout>

<style>

ul {
    display : grid;
    gap : 1rem;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
}

</style>