---
import Button from "../components/Button.astro";
import EvenColumns from "../components/EvenColumns.astro";
import Heading from "../components/Heading/H1.astro";
import FullScreenImageTextBoxOverlay from "../components/Sections/FullScreenImageTextBoxOverlay.astro";
import ThreeColumnLineContentLine from "../components/Sections/ThreeColumnLineContentLine.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import { HERO_IMG_PATH } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout props
    lang="en"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading id="hi">
        About
    </Heading>

    <ThreeColumnLineContentLine id="hello" props>
        <h2>Hello</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit molestias commodi corporis odit sunt perspiciatis natus rem consequatur veniam. Soluta repellat vitae facere qui excepturi! Tempore, quisquam corrupti. Expedita, eum?</p>
    </ThreeColumnLineContentLine>

    <section>
        <Wrapper width="max" padding="both">
            <TextFlow>

                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

    <section class="relative grid grid-cols-2 items-start w-2/3 mx-auto p-4 pt-32 scroll">

        <h2 class="text-3xl sticky top-[125px] ">
            Adipisicing elit. Hic, fugiat?
        </h2>

        <div class="">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis dolorem, fugit vel praesentium commodi possimus dicta? Reiciendis perferendis ab placeat nobis animi cupiditate delectus quo voluptates natus ut, sint numquam ullam autem, est, ipsum facere consequuntur accusamus! Consequatur alias, optio magni laborum natus commodi iste veritatis excepturi sint eaque dolorem obcaecati molestias maiores, repudiandae in, officiis quisquam totam molestiae perferendis aperiam assumenda soluta quia quidem? Voluptate, quidem soluta asperiores inventore rem sunt magnam nemo iste repellendus saepe minima! Voluptas ipsam quam necessitatibus error beatae dolores quasi amet consectetur officiis ipsum voluptatibus dolorem dolore adipisci delectus doloremque, perferendis repudiandae corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, commodi. Eveniet sunt suscipit officia. Eum velit cum sequi ea, est pariatur sit nesciunt animi non itaque consequuntur placeat in corrupti exercitationem temporibus modi vel, iure id quis nulla unde labore eius. Fugit, placeat! Repellendus aperiam suscipit in a velit ut officiis, dolore explicabo, obcaecati ullam delectus! Autem asperiores repellat quos voluptas esse fuga quas, iure minus necessitatibus atque in quae hic voluptatibus ratione nisi praesentium voluptate blanditiis nihil incidunt perspiciatis, sint harum possimus porro! Incidunt suscipit optio ea reiciendis veniam fuga neque ipsum excepturi tenetur? Deserunt, excepturi est et harum minus aliquam, consectetur provident ipsum dolorum soluta quisquam! Dolor blanditiis doloremque rem numquam! Corrupti, cupiditate in exercitationem nisi sed aliquam! Ducimus vitae error at nemo eligendi! 
            </p>

        </div>

    </section>

    <section class="relative grid grid-cols-2 items-start w-2/3 mx-auto p-4">

        <div class="">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis dolorem, fugit vel praesentium commodi possimus dicta? Reiciendis perferendis ab placeat nobis animi cupiditate delectus quo voluptates natus ut, sint numquam ullam autem, est, ipsum facere consequuntur accusamus! Consequatur alias, optio magni laborum natus commodi iste veritatis excepturi sint eaque dolorem obcaecati molestias maiores, repudiandae in, officiis quisquam totam molestiae perferendis aperiam assumenda soluta quia quidem? Voluptate, quidem soluta asperiores inventore rem sunt magnam nemo iste repellendus saepe minima! Voluptas ipsam quam necessitatibus error beatae dolores quasi amet consectetur officiis ipsum voluptatibus dolorem dolore adipisci delectus doloremque, perferendis repudiandae corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, commodi. Eveniet sunt suscipit officia. Eum velit cum sequi ea, est pariatur sit nesciunt animi non itaque consequuntur met consectetur officiis ipsum voluptatibus dolorem dolore adipisci delectus doloremque, perferendis repudiandae corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, commodi. Eveniet sunt suscipit officia. Eum velit cum sequi ea, est pariatur sit nesciunt animi non itaque consequuntur 
            </p>

        </div>

        
        <h2 class="text-3xl sticky top-[125px] pt-32">
            Adipisicing elit. Hic, fugiat?
        </h2>



    </section>

    <FullScreenImageTextBoxOverlay bgImage={HERO_IMG_PATH} props>

        <h2>Hello</h2>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit molestias commodi corporis odit sunt perspiciatis natus rem consequatur veniam. Soluta repellat vitae facere qui excepturi! Tempore, quisquam corrupti. Expedita, eum?</p>

    </FullScreenImageTextBoxOverlay>

    <section>
        <EvenColumns props breakpoints={1}>

            <div class="grid items-center px-4 bg-primary-100 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>

            <div class="grid items-center px-4 bg-primary-200 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>
            
            <div class="grid items-center px-4 bg-primary-300 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>

        </EvenColumns>
    </section>

    <section class="bg-primary-700 text-primary-100">
        <Wrapper width="max" padding="both">
            <TextFlow>

                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

    <section>
        <Wrapper width="text" padding="both">
            <TextFlow>
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo reprehenderit omnis.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, modi dolores! Fugiat, quibusdam illum beatae numquam incidunt laboriosam unde nemo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum at eius repudiandae nobis magnam porro, totam ratione fugit reprehenderit? Ratione, consequatur commodi dolores minima expedita quisquam perferendis vero excepturi sunt.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque asperiores quasi inventore mollitia distinctio incidunt enim esse voluptatem, necessitatibus porro voluptatibus vitae laudantium, blanditiis aspernatur a facere error dolorum officiis, ea sit? Eveniet esse deleniti, sit, animi nisi veniam dolorum aspernatur neque laboriosam debitis enim.</p>
            </TextFlow>
        </Wrapper>
    </section>

</BaseLayout>