---
import BioListExample from "../components/_Examples/BioListExample.astro";
import IntroExample from "../components/_Examples/IntroExample.astro";
import H1 from "../components/Heading/H1.astro";
import Section from "../components/Layout/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout props
    lang="en"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>
    
    <H1>
        About
    </H1>

    <Section contentWidth="slim">
        <IntroExample />
    </Section>

    <Section contentWidth="slim" class="bg-primary-50">
        <BioListExample />
    </Section>

    <Section contentWidth="slim">
        <IntroExample />
    </Section>

</Layout>