---
import EvenColumns from "../components/Base/EvenColumns.astro";
import TextFlow from "../components/Base/TextFlow.astro";
import Wrapper from "../components/Base/Wrapper.astro";
import BioList from "../components/Bio/BioList.astro";
import H2 from "../components/Heading/H2.astro";
import PageHeading from "../components/Heading/PageHeading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout props
    lang="en"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <PageHeading>
        About
    </PageHeading>

    <section>
        <Wrapper>
            <TextFlow>

                <H2>About Us</H2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>



    <section class="relative grid grid-cols-2 items-start w-2/3 mx-auto p-4">

        <div class="">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis dolorem, fugit vel praesentium commodi possimus dicta? Reiciendis perferendis ab placeat nobis animi cupiditate delectus quo voluptates natus ut, sint numquam ullam autem, est, ipsum facere consequuntur accusamus! Consequatur alias, optio magni laborum natus commodi iste veritatis excepturi sint eaque dolorem obcaecati molestias maiores, repudiandae in, officiis quisquam totam molestiae perferendis aperiam assumenda soluta quia quidem? Voluptate, quidem soluta asperiores inventore rem sunt magnam nemo iste repellendus saepe minima! Voluptas ipsam quam necessitatibus error beatae dolores quasi amet consectetur officiis ipsum voluptatibus dolorem dolore adipisci delectus doloremque, perferendis repudiandae corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, commodi. Eveniet sunt suscipit officia. Eum velit cum sequi ea, est pariatur sit nesciunt animi non itaque consequuntur met consectetur officiis ipsum voluptatibus dolorem dolore adipisci delectus doloremque, perferendis repudiandae corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, commodi. Eveniet sunt suscipit officia. Eum velit cum sequi ea, est pariatur sit nesciunt animi non itaque consequuntur 
            </p>

        </div>
        
        <H2 class="sticky top-[125px] pt-32">
            Adipisicing elit. Hic, fugiat?
        </H2>

    </section>

    <section>
        <Wrapper width="slim">
            <H2>Our Team</H2>
            <BioList />
        </Wrapper>
    </section>

    <section>
        <EvenColumns props breakpoints={1}>

            <div class="grid items-center px-4 bg-primary-100 aspect-square">
                <TextFlow>

                    <H2>About Us</H2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>

            <div class="grid items-center px-4 bg-primary-200 aspect-square">
                <TextFlow>

                    <H2>About Us</H2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>
            
            <div class="grid items-center px-4 bg-primary-300 aspect-square">
                <TextFlow>

                    <H2>About Us</H2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>

        </EvenColumns>
    </section>

    <section class="bg-primary-700 text-primary-100">
        <Wrapper>
            <TextFlow>

                <H2>About Us</H2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <H2>About Us</H2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

    <section>
        <Wrapper width="slim" >
            <TextFlow>
                <H2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo reprehenderit omnis.</H2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, modi dolores! Fugiat, quibusdam illum beatae numquam incidunt laboriosam unde nemo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum at eius repudiandae nobis magnam porro, totam ratione fugit reprehenderit? Ratione, consequatur commodi dolores minima expedita quisquam perferendis vero excepturi sunt.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque asperiores quasi inventore mollitia distinctio incidunt enim esse voluptatem, necessitatibus porro voluptatibus vitae laudantium, blanditiis aspernatur a facere error dolorum officiis, ea sit? Eveniet esse deleniti, sit, animi nisi veniam dolorum aspernatur neque laboriosam debitis enim.</p>
            </TextFlow>
        </Wrapper>
    </section>

</BaseLayout>