---
import EvenColumns from "../components/EvenColumns.astro";
import FormField from "../components/Forms/FormField.astro";
import FormSubmit from "../components/Forms/FormSubmit.astro";
import NetlifyForm from "../components/Forms/NetlifyForm.astro";
import Heading from "../components/Heading.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout
    type="base"
    title="Contact"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        Contact Us
    </Heading>

    <section>
        <Wrapper width="max" padding="both">
            <EvenColumns>

                <NetlifyForm name="Astro Starter Contact Form">

                    <FormField name="Name" type="text" required />

                    <FormField name="Email" type="email" required />

                    <FormField name="Phone Number" type="tel" />

                    <FormField type="select" name="Subject" required>

                        <option value="General Inquiry">General Inquiry</option>
                        <option value="Landing Page">Landing Page</option>
                        <option value="Basic Site">Basic Site</option>
                        <option value="Custom Site">Custom Site</option>
    
                    </FormField>

                    <FormField name="Message" type="textarea" required />

                    <FormSubmit />

                </NetlifyForm>

            </EvenColumns>
        </Wrapper>
    </section>

</Layout>
