---
import Heading from "../components/Heading.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout
    type="base"
    title="Contact"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        Contact Us
    </Heading>

    <section>
        <Wrapper width="max" padding="both">
            <TextFlow>
                
                <h2>Contact Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <h2>Contact Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <h2>Contact Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

</Layout>
