---
import FormSubmit from "../components/Forms/FormSubmit.astro";
import H2 from "../components/Heading/H2.astro";
import H3 from "../components/Heading/H3.astro";
import Layout from "../layouts/Layout.astro";
import H1 from "../components/Heading/H1.astro";
import Wrapper from "../components/Layout/Wrapper.astro";
import TextBlock from "../components/Base/TextBlock.astro";
---

<Layout title="Component examples" lang="en" description="">

    <H1>
        Component Examples
    </H1>

    <section class="bg-primary-200">
        <Wrapper>

            <H2>Headings</H2>

            <TextBlock>

                <H2>Heading Two</H2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus, labore, asperiores, delectus ea laboriosam molestiae cumque ab voluptate est officia harum non consequatur dolorum quibusdam repellat vel earum. Dicta facere ad ipsum nulla rem nihil, quia odio dolores </p>
                <p>nisi est consectetur itaque nobis atque consequuntur quae dolorem numquam sunt. Commodi dolor quo quae! Ducimus aspernatur sint ea alias nisi vero excepturi reiciendis, ipsum mollitia recusandae incidunt voluptates quasi tempora aliquid Nexercitationem dolor atque expedita autem commodi</p>
                
                <H3>Heading Three</H3>
                <p>Sapiente quo magnam! Accusantium perferendis corrupti nulla, maxime qui aperiam velit hic laborum reprehenderit facere aspernatur vel consectetur! Laudantium, cum a. Labore vero ratione deleniti consequuntur eligendi harum itaque, id ipsum ad eos totam corporis</p>
                <p>Libero eveniet explicabo repellat, iure, a ullam quas vel ea. Quo ratione perferendis suscipit ex recusandae ipsum illum odio dignissimos adipisci provident totam repudiandae, autem deleniti nihil hic debitis dolores. Delectus doloribus officiis nesciunt natus ratione facere at!</p>
                
                <p>Libero eveniet explicabo repellat, iure, a ullam quas vel ea. Quo ratione perferendis suscipit ex recusandae ipsum illum odio dignissimos adipisci provident totam repudiandae, autem deleniti nihil hic debitis dolores. Delectus doloribus officiis nesciunt natus ratione facere at!</p>

            </TextBlock>
        </Wrapper>

    </section>
    
</Layout>