---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/Heading/H1.astro";
import Section from "../components/Layout/Section.astro";
import TextBlockExample from "../components/_Examples/TextBlockExample.astro";
---

<Layout title="Component examples" description="">

    <H1>
        Component Examples
    </H1>

    <Section>
        <TextBlockExample />
    </Section>

    
</Layout>