---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Layout/Section.astro';
import IntroExample from '../components/_Examples/IntroExample.astro';
import TestimonialsExample from '../components/_Examples/TestimonialsExample.astro';
import HeroExample from '../components/_Examples/HeroExample.astro';
import CardsExample from '../components/_Examples/CardsExample.astro';
import CardsAsLinksExample from '../components/_Examples/CardsAsLinksExample.astro';
---

<Layout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
>

	<Section 
		contentWidth="slim"
		class="min-h-[70vh] bg-primary-900 grid text-primary-100 place-items-center" 
	>
		<HeroExample />
	</Section>

	<Section contentWidth='slim'>
		<IntroExample />
	</Section>

	<Section class='bg-primary-50'>
		<CardsExample />
	</Section>

	<Section contentWidth='slim'>
		<!-- <TestimonialsExample /> -->
	</Section>

	<Section class='bg-primary-50'>
		<CardsAsLinksExample />
	</Section>

</Layout>
