---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Layout/Section.astro';
import IntroExample from '../components/_Examples/IntroExample.astro';
import Button from '../components/Base/Button.astro';
import CallToActionSection from '../components/Sections/CallToActionSection.astro';
import TestimonialsSection from '../components/Sections/TestimonialsSection.astro';
import HeroSection from '../components/Sections/HeroSection.astro';
import ServicesSection from '../components/Sections/ServicesSection.astro';
import BenefitsSection from '../components/Sections/BenefitsSection.astro';
import CaseStudySection from '../components/Sections/CaseStudySection.astro';
import TextBlock from '../components/Base/TextBlock.astro';
import Avatar from '../components/Base/Avatar.astro';
---

<Layout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
>

	<HeroSection />

	<!-- Intro to company -->
	<Section contentWidth='slim'>
		<div class="flex gap-4 items-start md:items-center">
			<Avatar 
				src="/img/josh-avatar.webp"
				name="Josh Kaye"
			/>
			<p>
				Hello! I'm Josh. I'm a <strong>freelance web developer</strong> who specializes in small business websites, brochure-style websites, landing pages, and more. With over <strong>15 years of experience</strong> in the industry, I have refined my workflow to create your perfect site for an affordable price.
			</p>
		</div>
	</Section>

	<!-- Benefits -->
	<BenefitsSection />

	<!-- Social Proof, Trust building, Tesimonials. Can be broken up into multiple sections -->
	<TestimonialsSection />

	<!-- Projects -->

	<!-- Case Study -->
	<CaseStudySection />

	<!-- Main call to action or contact -->
	<CallToActionSection />

</Layout>
