---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Layout/Section.astro';
import IntroExample from '../components/_Examples/IntroExample.astro';
import Button from '../components/Base/Button.astro';
import CallToActionSection from '../components/Sections/CallToActionSection.astro';
import TestimonialsSection from '../components/Sections/TestimonialsSection.astro';
import HeroSection from '../components/Sections/HeroSection.astro';
import ServicesSection from '../components/Sections/ServicesSection.astro';
import BenefitsSection from '../components/Sections/BenefitsSection.astro';
import CaseStudySection from '../components/Sections/CaseStudySection.astro';
---

<Layout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
>

	<HeroSection />

	<!-- Intro to company -->
	<Section contentWidth='slim'>
		<IntroExample />
		<Button href="#case-study" variant="outline" class="mt-6">
            See how our service helped John
        </Button>
	</Section>

	<!-- Benefits -->
	<BenefitsSection />

	<!-- Services -->
	<ServicesSection />

	<!-- Social Proof, Trust building, Tesimonials. Can be broken up into multiple sections -->
	<TestimonialsSection />

	<!-- Case Study -->
	<CaseStudySection />

	<!-- Main call to action or contact -->
	<CallToActionSection />

</Layout>
