---
import HeroLandingPageSection from "../components/Sections/HeroLandingPageSection.astro";
import IntroExample from "../components/_Examples/IntroExample.astro";
import H2 from "../components/Heading/H2.astro";
import Section from "../components/Layout/Section.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import CtaButton from '../components/Base/CtaButton.astro'
import Button from "../components/Base/Button.astro";
import CallToActionSection from "../components/Sections/CallToActionSection.astro";
import TestimonialsSection from "../components/Sections/TestimonialsSection.astro";
import BenefitsSection from "../components/Sections/BenefitsSection.astro";
import CaseStudySection from "../components/Sections/CaseStudySection.astro";
---

<LandingPageLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
>

    <HeroLandingPageSection />
    
    <!-- Benefits -->
    <BenefitsSection />

    <!-- More info re: main service offered -->
    <Section contentWidth="slim" class="bg-primary-100">
        <IntroExample />
        <Button href="#case-study" variant="outline" class="mt-6">
            See how our service helped John
        </Button>
    </Section>

    <!-- Social Proof, Trust building, Tesimonials. Can be broken up into multiple sections -->
    <TestimonialsSection />

    <!-- Case Study -->
    <CaseStudySection />

    <!-- Call to action -->
     <CallToActionSection />

</LandingPageLayout>
