---
import IntroExample from "../components/_Examples/IntroExample.astro";
import CtaButton from "../components/Base/CtaButton.astro";
import TextBlock from "../components/Base/TextBlock.astro";
import H1 from "../components/Heading/H1.astro";
import Section from "../components/Layout/Section.astro";
import ServicesSection from "../components/Sections/ServicesSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout props
    lang="en"
    title="Services"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>
    
    <H1>
        Services
    </H1>

    <Section contentWidth="slim">
        <IntroExample />
    </Section>

    <ServicesSection />

    <Section contentWidth="slim">
        <TextBlock>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ab dignissimos, recusandae dicta eveniet dolores enim! Dignissimos totam aperiam commodi sequi ratione libero expedita recusandae quisquam provident, qui similique in.
            </p>
            <CtaButton />
        </TextBlock>
    </Section>

</Layout>