---
import H1 from "../components/Heading/H1.astro";
import Layout from "../layouts/Layout.astro";
import SiteMapList from "../components/Base/SiteMapList.astro";
---

<Layout
    title="Site Map"
    description=""
>
    <H1>Site Map</H1>

    <div class="my-12">
        <SiteMapList />
    </div>

</Layout>