---
import Image from '../Base/Image.astro'

interface Props {
    
    /**
     * Avatar image path
     */
    src : string,

    /**
     * Name of person
     */
    name : string

    /**
     * @prop src : string, required
     * @prop name : string, required
     */
    props? : true
}

const { src, name } = Astro.props
---

<div class="relative w-20 h-20 aspect-square rounded-full shrink-0 before:content-[''] before:absolute before:inset-0 before:-z-10 before:bg-primary-200 before:rounded-full before:scale-110">
    <Image
        src={src}
        width={80}
        height={80}
        alt={'Image of ' + name}
        class="w-20 h-20 aspect-square rounded-full shrink-0"
    />
</div>