---
import type { HTMLAttributes } from 'astro/types'
import Wrapper from './Wrapper.astro';
import Logo from './Logo.astro';
import SecondaryLinkList from '../Nav/SecondaryLinkList.astro';
import MobileMenuBtn from '../Nav/MobileMenuBtn.astro';
import NavLinkList from '../Nav/NavLinkList.astro';
import CallToActionLink from '../Nav/CallToActionLink.astro';

interface Props extends HTMLAttributes<'header'> {
    /**
     * @extends header
     * @prop variant? : 'relative' | 'fixed'
     * @prop transparentToSolid? : boolean,
     * @prop class? : string,
     */
    props?              : true,
    variant?            : 'relative' | 'fixed',
    transparentToSolid? : boolean,
}

const {
    variant = 'relative',
    transparentToSolid = false,
} = Astro.props
---


{/**
 * NavBar ordering
 * 
 * Mobile
 * 1. Logo
 * 2. CTA
 * 3. MobileMenuBtn
 * 4. <nav />
 * 
 * Desktop
 * 1. Logo
 * 2. <nav />
 * 3. CTA
 * 
 */}



{/**
 * data-transparentToSolid, data-element, and hasColorBg/hasTransparentBg class  
 * are used to toggle the header Bg transparency on Scroll, usually in a hero section 
 */}

<div id="top" class=" h-0 w-full" />

<header
    data-transparentToSolid={transparentToSolid}
    data-element="header-main"
    class:list={[
        'transition-all duration-300',
        `${!transparentToSolid ? 'header-bg' : ''}`,
        `${variant === 'relative' ? 'relative' : ''}`,
        `${variant === 'fixed' ? 'fixed top-0 left-0 right-0 z-[999]' : ''}`,
    ]}
>

    <SecondaryLinkList />

    <Wrapper padding='inline'>

        <div class="flex items-center gap-4 flex-wrap py-2">

            <div class="order-1 mr-auto [&_a]:text-primary-100">
                <Logo />
            </div>

            <div class="order-2  lg:order-3">
                <CallToActionLink />
            </div>
            
            <div class="order-3 lg:hidden flex items-center">
                <MobileMenuBtn />
            </div>
            
            <nav class="order-4 lg:order-2 relative flex items-start gap-4 w-full lg:w-auto">
                <NavLinkList />
            </nav>

        </div>

    </Wrapper>

</header>



<style is:global>

:root {
    --nav-bar-bg : hsl( var(--primary-color) 15% );
}

header {
    background-color: transparent;
}

header.header-bg {
    background-color: var(--nav-bar-bg);
}
    
/* This is for when mobile menu is open when user is over hero section. */
.mobile-menu-is-open header,
header:has( nav a:focus ) {
    background-color: var(--nav-bar-bg) !important;
}

</style>



<script>
    // @ts-ignore
    import debounce from 'lodash.debounce'
    
    const header = document.querySelector('[data-element="header-main"]') as HTMLDivElement
    const hasTransparentToSolid = header.dataset.transparenttosolid === ''
    
    if( hasTransparentToSolid ) {
    
        const toggleHeaderBGClass = () => {
            if(screen.availWidth < 1023 ) {
                header.classList.add('header-bg')
                return
            }
            header.classList.toggle('header-bg', scrollY > 50)
        }
    
        toggleHeaderBGClass()
    
        document.addEventListener('scroll', debounce(toggleHeaderBGClass, 50) )
        window.addEventListener('resize', debounce(toggleHeaderBGClass, 50) )
    }
    
</script>