---
import Button from "../Button/Button.astro";
import Wrapper from "./Wrapper.astro";
---

<section class="h-screen bg-fixed bg-gradient-to-tr from-slate-900 via-slate-900 to-blue-900 grid text-slate-100 place-items-center">

    <Wrapper width="slim" class="grid gap-4">
            <h1 class="text-3xl font-bold leading-10">
                Adipisicing elit. Minima, fugit. Eaque ullam natus enim repudiandae expedita dolor molestias non omnis.
            </h1>
        
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi asperiores, laborum, incidunt provident voluptatem vero quaerat accusamus aut maiores nihil laudantium animi nam voluptates sint magnam sequi nisi fugiat ex.
            </p>

            <div>
                <Button href="#">Learn More</Button>
                <Button href="#" variant="ghost">Learn More</Button>
            </div>
    </Wrapper>

</section>




