---
import { SITE_SHORT_NAME } from '../../config/site'
import Icon from './Icon.astro'
import { Orbit } from 'lucide'

interface Props {
    /**
     * none
     */
    props? : true
}
---

<a href="/" class="fic-2 text-lg font-bold font-theme hover:text-secondary-400 group">
    <Icon icon={Orbit} class="group group-hover:rotate-[-720deg] transition-all duration-[2s]" />
    {SITE_SHORT_NAME}
</a>    