---
import { OrbitIcon } from "@lucide/astro";
import { SITE_SHORT_NAME } from '../../config/site'

interface Props {
    /**
     * none
     */
    props? : true
}
---

<a href="/" class="fic-1 sm:fic-2 text-base sm:text-lg font-bold font-theme hover:text-secondary-400 group">
     <OrbitIcon class="group group-hover:rotate-[-720deg] transition-all duration-[2s]" />

    <span>
        {SITE_SHORT_NAME}<span class="text-sm"></span>
    </span>
</a>    