---
import FiveStars from "./FiveStars.astro";
interface Props {
    /**
     * Name of person giving review
     */
    name : string
    
    /**
     * Review text
     */
    review : string

    /**
     * @prop name : string
     * @prop review : string
     */
    props? : true
}
const { name, review } = Astro.props
---

<div class="grid gap-2">
    
    <blockquote class:list={[
        "p-6 bg-primary-50 rounded-md relative z-10",
        "after:absolute after:right-4 after:top-0 after:-z-10", 
        "after:text-9xl after:text-primary-100/50 after:font-bold after:content-['âž']"
    ]}>
        {review}
    </blockquote>

    <span class="italic">{name}</span>

    <FiveStars />
</div>