---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    width? : 'content' | 'full'
    class? : string
}

const {
    width = 'content',
    class : className
} = Astro.props
---

<div class:list={['text-flow', width === 'content' && 'max-w-2xl', className]}>
    <slot />
</div>


<style is:global>

.text-flow > * + * {
    margin-top : 1.3em;
}

</style>