---
import type { HTMLAttributes } from 'astro/types'
import Wrapper from './Wrapper.astro';
import Logo from './Logo.astro';
import MobileMenuBtn from './Nav/MobileMenuBtn.astro';
import NavCTALink from './Nav/NavCTALink.astro';
import NavLinks from './Nav/NavLinks.astro';
import ContactLinks from './Nav/ContactLinks.astro';

interface Props extends HTMLAttributes<'header'> {

    variant? : 'relative' | 'sticky' | 'fixed',

    toggleTransparencyOnScroll? : boolean,

    class? : string,

    /**
     * @extends <header>
     * @prop variant? : 'relative' | 'sticky' | 'fixed'
     * @prop toggleTransparencyOnScroll? : boolean,
     * @prop class? : string,
     */
    props? : true
}



const {
    variant = 'relative',
    toggleTransparencyOnScroll = false,
    class: className = ''
} = Astro.props

---


{/**
 * NavBar ordering
 * 
 * Mobile
 * 1. Logo
 * 2. CTA
 * 3. MobileMenuBtn
 * 4. <nav></nav>
 * 
 * Desktop
 * 1. Logo
 * 2. <nav></nav>
 * 3. CTA
 * 
 */}



{/**
 * data-toggleTransparencyOnScroll, data-element, and hasColorBg/hasTransparentBg class  
 * are used to toggle the header Bg transparency on Scroll, usually in a hero section 
 */}

<header
    data-toggleTransparencyOnScroll={toggleTransparencyOnScroll ? 'true' : 'false'}
    data-element="header-main"
    class={`
        ${toggleTransparencyOnScroll ? 'hasTransparentBg' : 'hasColorBg'}
        ${variant === 'relative' ? 'relative' : ''}
        ${variant === 'sticky' ? 'sticky top-0 z-[999]' : ''}
        ${variant === 'fixed' ? 'fixed top-0 left-0 right-0 z-[999]' : ''}
        ${className}
    `}
>


    <ContactLinks />



    <Wrapper width='max' padding='inline'>


        <div class="nav-wrapper">

            <div class="order-1 mr-auto">
                <Logo />
            </div>

            <div class="order-2  md:order-3">
                <NavCTALink icon="explore" />
            </div>
            
            <div class="order-3 md:hidden flex items-center">
                <MobileMenuBtn />
            </div>
            
            <nav class="order-4 md:order-2 relative flex items-start gap-4 w-full md:w-auto">
                <NavLinks />
            </nav>


        </div>
        

    </Wrapper>


</header>





<style>

header {
    transition: all 250ms;
}

header.hasTransparentBg {
    background-color: transparent;
    color : var(--nav-bar-transparent-text-color);
}

header.hasColorBg {
    background-color: var(--nav-bar-bg-color);
    color : var(--nav-bar-text-color);
}

.nav-wrapper {
    display : flex;
    align-items: center;
    column-gap:  1rem;
    flex-wrap: wrap;
    padding-block : 0.5rem;
}

    
</style>


<script>

const header = document.querySelector('[data-element="header-main"]') as HTMLDivElement
const hero  = document.querySelector('[data-element="hero"]') as HTMLDivElement


if( header.dataset.toggletransparencyonscroll === 'true' ) {
    addToggleNavTransparencyObserver()
}


function addToggleNavTransparencyObserver() {


    const heroObserverOptions = {
        root : null,
        threshold : 0,
        rootMargin : "-70% 0px 0px 0px"
    }
    
    const heroObserver = new IntersectionObserver( entries => {
        entries.forEach(entry => {

            if(entry.isIntersecting) {
                header.classList.add('hasTransparentBg')
                header.classList.remove('hasColorBg')
            } else {
                header.classList.remove('hasTransparentBg')
                header.classList.add('hasColorBg')
            }
            
        })
    }, heroObserverOptions)
    
    heroObserver.observe(hero)
}

</script>

