---
import Button from "./Button.astro";
import HeroWrapper from "./Hero/HeroWrapper.astro";

---

<HeroWrapper variant="fullscreen">

    <div class={`grid gap-8 md:w-2/3`}>
    
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[var(--hero-text-color)] ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, fuga.
        </h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni delectus quam reprehenderit officiis optio provident exercitationem harum. 
        </p>
    
        <div class={`flex items-center gap-2`}>
            
            <Button type="link" href='#' class="primary-hero-CTA">
                Call to Action
            </Button>
            
            <Button type="link" href='#' class="secondary-hero-CTA">
                Learn More
            </Button>
    
        </div>
    
    </div>

</HeroWrapper>




<style>

h1 {
    /* font-size: 2.5rem !important;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
    font-weight: 600 !important;
    color : var(--hero-text-color); */
}

p {
    font-size : 1.3rem;
    color : var(--hero-text-color);
}

.primary-hero-CTA {
    background-color : var(--hero-CTA-bg-color);
    color : var(--hero-CTA-text-color);
}

.primary-hero-CTA:hover, .primary-hero-CTA:focus {
    background-color : var(--hero-CTA-bg-color-hover);
    color : var(--hero-CTA-text-color-hover);
}

.secondary-hero-CTA {
    color : var(--hero-text-color);
    border : 1px solid transparent;
}

.secondary-hero-CTA:hover, .secondary-hero-CTA:focus {
    border-color : var(--hero-text-color);
}

</style>