---
import Button from "./Button.astro";
import HeroWrapper from "./Hero/HeroWrapper.astro";

---

<HeroWrapper variant="fullscreen">

    <div class={`grid gap-8 md:w-2/3`}>
    
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[var(--hero-text-color)] ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, fuga.
        </h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni delectus quam reprehenderit officiis optio provident exercitationem harum. 
        </p>
    
        <div class={`flex items-center gap-2`}>
            
            <Button variant="fill-secondary" href='/cta'>
                Call to Action
            </Button>
            
            <Button variant="outline-secondary" href='/about'>
                Learn More
            </Button>
    
        </div>
    
    </div>

</HeroWrapper>




<style>

p {
    font-size : 1.3rem;
    color : var(--hero-text-color);
}

</style>