---
import EvenColumns from "../../components/EvenColumns.astro";
import Heading from "../../components/Heading.astro";
import FullScreenImageTextBoxOverlay from "../../components/Sections/FullScreenImageTextBoxOverlay.astro";
import ThreeColumnLineContentLine from "../../components/Sections/ThreeColumnLineContentLine.astro";
import TextFlow from "../../components/TextFlow.astro";
import Wrapper from "../../components/Wrapper.astro";
import { HERO_IMG_PATH, LANGUAGES, PAGES } from "../../config";
import Layout from "../../layouts/Layout.astro";


export async function getStaticPaths() {
	return LANGUAGES.map( lang => ({
		params : { lang : lang.code }
	}))
}

const { lang } = Astro.params



---

<Layout
    lang={lang as string}
    type="base"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        About
    </Heading>

    <ThreeColumnLineContentLine id="hello" props>
        <h2>Hello</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit molestias commodi corporis odit sunt perspiciatis natus rem consequatur veniam. Soluta repellat vitae facere qui excepturi! Tempore, quisquam corrupti. Expedita, eum?</p>
    </ThreeColumnLineContentLine>

    <section>
        <Wrapper width="max" padding="both">
            <TextFlow>

                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

    <FullScreenImageTextBoxOverlay bgImage={HERO_IMG_PATH} props>

        <h2>Hello</h2>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit molestias commodi corporis odit sunt perspiciatis natus rem consequatur veniam. Soluta repellat vitae facere qui excepturi! Tempore, quisquam corrupti. Expedita, eum?</p>

    </FullScreenImageTextBoxOverlay>

    <section>
        <EvenColumns props breakpoints={1}>

            <div class="grid items-center px-4 bg-primary-100 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>

            <div class="grid items-center px-4 bg-primary-200 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>
            
            <div class="grid items-center px-4 bg-primary-300 aspect-square">
                <TextFlow>

                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                    </p>
                </TextFlow>
            </div>
            </div>

        </EvenColumns>
    </section>

    <section class="bg-primary-700 text-primary-100">
        <Wrapper width="max" padding="both">
            <TextFlow>

                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>
                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea laborum aliquid ducimus odio! Distinctio excepturi a amet fugit, illo id architecto quo quasi enim adipisci delectus quod quam dolorem, earum dolor voluptatibus similique! Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit.
                </p>

            </TextFlow>
        </Wrapper>
    </section>

    <section>
        <Wrapper width="text" padding="both">
            <TextFlow>
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo reprehenderit omnis.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, modi dolores! Fugiat, quibusdam illum beatae numquam incidunt laboriosam unde nemo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum at eius repudiandae nobis magnam porro, totam ratione fugit reprehenderit? Ratione, consequatur commodi dolores minima expedita quisquam perferendis vero excepturi sunt.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque asperiores quasi inventore mollitia distinctio incidunt enim esse voluptatem, necessitatibus porro voluptatibus vitae laudantium, blanditiis aspernatur a facere error dolorum officiis, ea sit? Eveniet esse deleniti, sit, animi nisi veniam dolorum aspernatur neque laboriosam debitis enim.</p>
            </TextFlow>
        </Wrapper>
    </section>

</BaseLayout>