---
import SkipToContent from '../../components/SkipToContent.astro';
import '../../css/config.css'
import Footer from '../../components/Footer.astro';
import MainContent from '../../components/MainContent.astro';
import HeroFullScreen from '../../components/Heros/HeroFullScreen.astro';
import ContactLinks from '../../components/Nav/ContactLinks.astro';
import NavCTALink from '../../components/Nav/NavCTALink.astro';
import NavLinks from '../../components/Nav/NavLinks.astro';
import HeaderTopBar from '../../components/Headers/HeaderTopBar.astro';
import Meta from '../../components/Meta.astro';
import type { Layout } from '../../config';


interface Props extends Layout { }

const {
    title,
    description,
	class : className = ''
} = Astro.props
---

<html lang="en">

	<Meta title={title} description={description} materialIcons decap	/>

	<body class={`bg-[var(--body-bg-color)] text-[var(--body-text-color)] ${className}`}>

		<SkipToContent />

		<HeaderTopBar props>

			<ContactLinks slot="contact" class="text-sm py-1" />

			<NavLinks slot='navLinks' />
			
			<NavCTALink slot='cta' icon="explore" />

		</HeaderTopBar>
		
		<slot />

        <Footer />

		<slot name="pageEnd" />
	</body>
</html>
