---
import H1 from "../../components/Heading/H1.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Web design plans and pricing"
    description=""
>

    <H1>Plans and Pricing</H1>

</Layout>