---
import Columns from "../../components/Base/Columns.astro";
import LiArrow from "../../components/Base/LiArrow.astro";
import List from "../../components/Base/List.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import Card from "../../components/Card/Card.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardHeading from "../../components/Card/CardHeading.astro";
import H1 from "../../components/Heading/H1.astro";
import H2 from "../../components/Heading/H2.astro";
import Section from "../../components/Layout/Section.astro";
import AddOnsSection from "../../components/Sections/AddOnsSection.astro";
import FeaturesSection from "../../components/Sections/FeaturesSection.astro";
import PlansSection from "../../components/Sections/PlansSection.astro";
import WorkTogetherBanner from "../../components/Sections/WorkTogetherBanner.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Small business web design plans and pricing"
    description=""
>

    <H1>Web Design Plans and Pricing</H1>

    <PlansSection>
        <TextBlock class="mx-auto mb-12" slot="before">
            <p>
                <strong class="text-xl">Simple and transparent pricing</strong><br />
            </p>
            <p>
                Explore my simple and transparent pricing plans designed to fit your needs. With no hidden fees and clear options, you can easily choose the plan that works best for your business and budget.
            </p>
            <p>
                If you need something other than the plans available, please <a href="/get-started?plan=custom">contact me</a> for custom project pricing.
            </p>
        </TextBlock>
    </PlansSection>
    
    <FeaturesSection />

    <WorkTogetherBanner />

    <AddOnsSection />
    
    <Section class="bg-primary-100">
        <TextBlock class="mx-auto">
            <H2>Why I favour hand-coded websites</H2>
            <p>
                Tools such as WordPress, Squarespace, Wix, and other "no-code" solutions all have their place on the web. However for small businesses, hand-coded sites are often a much better choice for the following reasons:
            </p>
            <List>
                <LiArrow>
                    <p>
                        Hand-coded websites <strong>won't lose customers</strong> due to slow page loading times. My sites are optimized for performance, ensuring fast load times that improve user experience and boost conversion rates.
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded websites are <strong>almost impossible to hack</strong>. With custom security protocols and no reliance on third-party plugins, hand-coded sites are incredibly secure, providing greater peace of mind.
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded websites are <strong>very cost-effective</strong>. They are less complicated to develop, maintain, and debug, which leads to lower long-term costs, including cheaper hosting and fewer ongoing updates.
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded website are <strong>100% customizable to your brand and business goals</strong>. Unlike pre-built templates, custom code gives you the flexibility to create a site that perfectly aligns with your vision and drives the results you need.
                    </p>
                </LiArrow>
            </List>
        </TextBlock>
    </Section>
    
    <WorkTogetherBanner />

</Layout>