---
import Columns from "../../components/Base/Columns.astro";
import LiArrow from "../../components/Base/LiArrow.astro";
import List from "../../components/Base/List.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import Card from "../../components/Card/Card.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardHeading from "../../components/Card/CardHeading.astro";
import H1 from "../../components/Heading/H1.astro";
import H2 from "../../components/Heading/H2.astro";
import Section from "../../components/Layout/Section.astro";
import FeaturesSection from "../../components/Sections/FeaturesSection.astro";
import PlansSection from "../../components/Sections/PlansSection.astro";
import WorkTogetherBanner from "../../components/Sections/WorkTogetherBanner.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Web design plans and pricing"
    description=""
>

    <H1>Plans and Pricing</H1>

    <PlansSection>
        <TextBlock class="mx-auto mb-12" slot="before">
            <p>
                <strong class="text-xl">Simple and transparent pricing</strong><br />
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis debitis dicta rem neque! Fugiat amet magnam id facere sapiente, blanditiis nesciunt culpa totam cumque esse a nobis, reiciendis vitae perferendis!
            </p>
            <p>
                If you need something other than the plans available, please <a href="/contact">contact me</a> for custom pricing.
            </p>
        </TextBlock>
    </PlansSection>
    
    <FeaturesSection />

    <WorkTogetherBanner />

    <Section>

        <H2>Additional Add-ons</H2>

        <Columns cols={3} class="gap-6 mt-12">
            <Card class="py-6">
                <CardHeading class="text-primary-700">Extra pages</CardHeading>
                <CardContent>
                    <span class="text-4xl font-semibold">
                        $250 <span class="text-base">/one time per page</span>
                    </span>
                    <p class="mt-4">
                        Need more than 6 pages for your site? No problem at all. Get as many pages as you'd like at $250 per page, plus $10/year for hosting.
                    </p>
                </CardContent>
            </Card>
            <Card class="py-6">
                <CardHeading class="text-primary-700">Unlimited website updates</CardHeading>
                <CardContent>
                    <span class="text-4xl font-semibold">
                        $300 <span class="text-base">/yearly</span>
                    </span>
                    <p class="mt-4">
                        Update and edit your website as many times as you would like with one yearly fee.
                    </p>
                </CardContent>
            </Card>
            <Card class="py-6">
                <CardHeading class="text-primary-700">Website updates at $50/hour</CardHeading>
                <CardContent>
                    <span class="text-4xl font-semibold">
                        $50 <span class="text-base">/hour</span>
                    </span>
                    <p class="mt-4">
                        If you need to update the website after it is built, updates can be done at $50/hour with 1/2 increments. A minimum charge of 1/2 hours applies to every update.
                    </p>
                </CardContent>
            </Card>
            <Card class="py-6">
                <CardHeading class="text-primary-700">SEO/Google ads</CardHeading>
                <CardContent>
                    <span class="text-4xl font-semibold">
                        $1000 <span class="text-base">/starting price</span>
                    </span>
                    <p class="mt-4">
                        Want to bring visitors to your newly created site? Starting at $1000, we can set up a plan for you.
                    </p>
                </CardContent>
            </Card>
            <Card class="py-6">
                <CardHeading class="text-primary-700">Content management system</CardHeading>
                <CardContent>
                    <span class="text-4xl font-semibold">
                        $1000 <span class="text-base">/one time</span>
                    </span>
                    <p class="mt-4">
                        If you would like to edit the content of your site, I can set up a CMS for you.
                    </p>
                </CardContent>
            </Card>
        </Columns>

    </Section>
    
    <Section class="bg-primary-100">
        <TextBlock class="mx-auto">
            <H2>Why I favour hand-coded websites</H2>
            <p>
                Tools such as WordPress, Squarespace, Wix, and other "no-code" solutions all have their place on the web. However for small businesses, hand-coded sites are often a much better choice for the following reasons:
            </p>
            <List>
                <LiArrow>
                    <p>
                        Hand-coded websites <strong>won't lose customers</strong> due to slow page loading times. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima nostrum consectetur tempore quisquam! Molestiae, nesciunt!
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded websites are <strong>almost impossible to hack</strong>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum obcaecati quisquam voluptatum natus facilis.
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded websites are <strong>very cost-effective</strong>. Less complicated, quicker to develop, maintain, and debug. Cheaper hosting
                    </p>
                </LiArrow>
                <LiArrow>
                    <p>
                        Hand-coded website are more <strong>100% customizable to your brand and business goals</strong>. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eum iste totam dolorum?
                    </p>
                </LiArrow>
            </List>
        </TextBlock>
    </Section>
    
    <WorkTogetherBanner />

</Layout>