@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {


        /* ------------------------ Colors ------------------------ */
                
        /* Color Picker is just for use in IDE */
        --color-picker : hsl(204, 36%, 36%);
        --color-picker : hsl(32, 97%, 38%);
        --color-picker : hsl(286, 39%, 44%);

        /* 
            Base Site Colors (HSL) 
            Note: only provide H and S values. L values are not needed
        */
        --primary-color   : 204deg 36%;
        --secondary-color : 15deg 95%;
        --tertiary-color  : 286deg 40%;

        
        /* Color Config */

        --body-bg-color                  : hsl( var(--primary-color) 97% );
        --body-text-color                : hsl( var(--primary-color) 25% );

        --contact-bar-bg-color           : hsl( var(--primary-color) 10% );
        --contact-bar-text-color         : hsl( var(--primary-color) 90% );

        --nav-bar-bg-color               : hsl( var(--primary-color) 80% );
        --nav-bar-text-color             : hsl( var(--primary-color) 35% );
        --nav-bar-transparent-text-color : hsl( var(--primary-color) 90% );

        --nav-bar-CTA-bg-color           : hsl( var(--primary-color) 30% );
        --nav-bar-CTA-text-color         : hsl( var(--primary-color) 85% );

        --nav-bar-CTA-bg-color-hover     : hsl( var(--secondary-color) 50% );
        --nav-bar-CTA-text-color-hover   : hsl( var(--secondary-color) 95% );

        --hero-text-color                : hsl( var(--secondary-color) 50% );

        --hero-CTA-bg-color              : hsl( var(--secondary-color) 50% );
        --hero-CTA-text-color            : hsl( var(--secondary-color) 5% );
        
        --hero-CTA-bg-color-hover        : hsl( var(--primary-color) 50% );
        --hero-CTA-text-color-hover      : hsl( var(--primary-color) 5% );

        --button-bg-color                : hsl( var(--primary-color) 20% );
        --button-text-color              : hsl( var(--primary-color) 90% );

        --button-bg-color-hover          : hsl( var(--secondary-color) 50% );
        --button-text-color-hover        : hsl( var(--secondary-color) 90% );

        --form-field-bg-color            : hsl( var(--primary-color) 96% );
        --form-field-border-color        : hsl( var(--primary-color) 80% );
        --form-field-text-color          : hsl( var(--primary-color) 30% );

        --form-field-bg-color-hover      : hsl( var(--primary-color) 93% );
        --form-field-border-color-hover  : hsl( var(--primary-color) 30% );
        --form-field-text-color-hover    : hsl( var(--primary-color) 30% );

        --footer-bg-color-from           : hsl( var(--primary-color) 75% );
        --footer-bg-color-to             : hsl( var(--primary-color) 95% );
        --footer-text-color              : hsl( var(--primary-color) 30% );



        /* ------------------------ Spacing ------------------------ */

        --spacing-inline-default : 2vw;
        --spacing-block-default : 2rem;
        
        @media screen and (min-width : 768px) {
            --spacing-inline-default : 2vw;
            --spacing-block-default : 4rem;
        }




    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap : balance;
    }

    h1 {
        font-size: 2.5rem !important;
        line-height: 2.8rem;
    }

    h2 {
        font-size: 1.7rem !important;
        line-height: 2rem;
    }
    
    h3 {
        font-size: 1.5rem !important;
        line-height: 1.8rem;
    }

    h4 {
        font-size: 1.2rem !important;
        line-height: 1.5rem;
        font-weight: 600;
    }

    h5 {
        font-size: 1rem !important;
        line-height: 1.3rem;
        font-weight: 600 !important;
    }

    h6 {
        font-size: 1rem !important;
        line-height: 1.3rem;
    }

    p {
        line-height: 1.6rem;
    }

}


@layer utilities {

    .px-default {
        padding-inline : var(--spacing-inline-default);
    }
    
    .py-default {
        padding-block : var(--spacing-block-default);
    }
    
    .mx-default {
        margin-inline : var(--spacing-inline-default);
    }
    
    .my-default {
        margin-block : var(--spacing-block-default);
    }

}
