@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {


        /* ------------------------ Colors ------------------------ */
                
        /* Color Picker is just for use in IDE */
        --color-picker : hsl(204, 36%, 36%);
        --color-picker : hsl(340, 93%, 62%);
        --color-picker : hsl(286, 39%, 44%);

        /* 
            Base Site Colors (HSL) 
            Note: only provide H and S values. L values are not needed
        */
        --primary-color   : 204deg 36%;
        --secondary-color : 340deg 90%;
        --tertiary-color  : 286deg 40%;


        /* ------------------------ Spacing ------------------------ */
    }
    
    html {
        scroll-behavior: smooth;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap : balance;
    }


    p {
        line-height: 1.6rem;
    }

    .text-flow ul {
        list-style: disc;
        margin-left: 2rem;
    }

}

@layer components {
    .body {
        @apply bg-primary-25 font-base text-primary-900
    }
}

@layer utilities {
    
    /* 
    flex items-center gap-x shorthand
    */
    .fic-1 {
        @apply flex items-center gap-1
    }
    .fic-2 {
        @apply flex items-center gap-2
    }
    .fic-4 {
        @apply flex items-center gap-4
    }
    .fic-6 {
        @apply flex items-center gap-6
    }

    /* 
    Base form field styles
    Used for Input, Textarea, Select, etc components to keep consistent styles
    */
    .form-field {
        @apply p-2 rounded border border-primary-200 bg-primary-25 w-full max-w-xl focus-visible:outline-primary-300
    }

    .form-field-has-focus {
        @apply has-[:focus]:bg-primary-100/75
    }

}