@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Color Picker is just for use in IDE */
        --color-picker : hsl(204, 36%, 36%);

        /* 
            Base Site Colors (HSL) 
            Note: only provide H and S values. L values are not needed
        */
        --primary-color   : 204deg 36%;
        --secondary-color : 340deg 90%;

    }

    body {
        @apply bg-primary-25 font-base text-primary-900
    }
    
    h2, h3, h4, h5, h6 {
        text-wrap : balance;
    }

    main a {
        @apply text-primary-500 underline hover:text-secondary-500
    }

    p {
        line-height: 1.6rem;
    }

    /**
    Overwrite initial invalid state on page load
    */
    input[data-is-touched="false"]:invalid,
    textarea[data-is-touched="false"]:invalid {
        border-color: hsl( var(--primary-color) 80%);
    }
}

@layer components {
}

@layer utilities {
    
    /* 
    flex items-center gap-x shorthand
    */
    .fic-1 {
        @apply flex items-center gap-1
    }
    .fic-2 {
        @apply flex items-center gap-2
    }
    .fic-3 {
        @apply flex items-center gap-3
    }
    .fic-4 {
        @apply flex items-center gap-4
    }
    .fic-6 {
        @apply flex items-center gap-6
    }

    /* 
    Base form field styles
    Used for Input, Textarea, Select, etc components to keep consistent styles
    */
    .form-field {
        @apply p-2 rounded border border-primary-200 bg-primary-25 w-full max-w-xl focus-visible:outline-primary-300
    }

    .form-field-has-focus {
        @apply has-[:focus]:bg-primary-100/75
    }

    .form-field-has-checked {
        @apply has-[:checked]:bg-primary-100/75
    }

}