---
import '../css/main.css'
import Footer from '../components/Base/Footer.astro';
import Meta from '../components/Base/Meta.astro';
import type { Layout } from './types';
import Header from '../components/Base/Header.astro';
import MainContent from '../components/Base/MainContent.astro';
import SkipToContent from '../components/Base/SkipToContent.astro';
import BackToTop from '../components/Base/BackToTop.astro';


interface Props extends Layout { }

const {
    title = '',
    description = '',
	lang = 'en',
	class : className = ''
} = Astro.props
---

<html lang={lang} class="">

	<Meta title={title} description={description} />

	<body class:list={['bg-primary-50 font-base text-primary-900 pt-32', className]}>

		<SkipToContent />

		<Header variant='fixed' props />
		
        <MainContent>

            <slot />

        </MainContent>

        <Footer />

		<BackToTop />

		<slot name="pageEnd" />
		
	</body>
</html>


