---
import '../css/main.css'
import '@fontsource/lato'
import Footer from '../components/Layout/Footer.astro';
import SkipToContent from '../components/Layout/SkipToContent.astro';
import Main from '../components/Layout/Main.astro';
import Head from '../components/Layout/Head.astro';
import type { Layout } from '../types/Layout'
import Logo from '../components/Base/Logo.astro';
import Section from '../components/Layout/Section.astro';

interface Props extends Layout { }

const {
    title = '',
    description = '',
	lang = 'en',
	class : className = ''
} = Astro.props

---

<html lang={lang} class="">

	<Head title={title} description={description} />

	<body class:list={className}>

		<SkipToContent />

        <Section py-none class='py-2'>
            <Logo />
        </Section>

        <Main>

            <slot />

        </Main>

        <Footer />
		
	</body>
</html>


