---
import '../css/main.css'
import '@fontsource/lato'
import BackToTop from '../components/Layout/BackToTop.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro';
import SkipToContent from '../components/Layout/SkipToContent.astro';
import Main from '../components/Layout/Main.astro';
import Head from '../components/Layout/Head.astro';
import type { Layout } from '../types/Layout'


interface Props extends Layout { }

const {
    title = '',
    description = '',
	lang = 'en',
	class : className = ''
} = Astro.props

---

<html lang={lang} class="scroll-pt-8 scroll-smooth">

	<Head title={title} description={description} />

	<body 
		class:list={className}
		data-mobile-menu="closed"
	>

		<SkipToContent />

		<div id="top" class=" h-0 w-full" />

		<Header />

        <Main>

            <slot />

        </Main>

        <Footer />

		<BackToTop />
		
		<!-- Default Statcounter code for Josh Kaye Dev
https://joshkaye.dev -->
<script type="text/javascript">
	var sc_project=13097019; 
	var sc_invisible=1; 
	var sc_security="4a7df820"; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js"
	async></script>
	<noscript><div class="statcounter"><a title="Web Analytics
	Made Easy - Statcounter" href="https://statcounter.com/"
	target="_blank"><img class="statcounter"
	src="https://c.statcounter.com/13097019/0/4a7df820/1/"
	alt="Web Analytics Made Easy - Statcounter"
	referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
	<!-- End of Statcounter Code -->
	</body>
</html>


