---
import '../css/main.css'
import '@fontsource/lato'
import BackToTop from '../components/Layout/BackToTop.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro';
import SkipToContent from '../components/Layout/SkipToContent.astro';
import Main from '../components/Layout/Main.astro';
import Head from '../components/Layout/Head.astro';
import type { Layout } from '../types/Layout'


interface Props extends Layout { }

const {
    title = '',
    description = '',
	lang = 'en',
	class : className = ''
} = Astro.props

---

<html lang={lang} class="scroll-pt-8 scroll-smooth">

	<Head title={title} description={description} />

	<body 
		class:list={['body', className]}
		data-mobile-menu="closed"
	>

		<SkipToContent />

		<div id="top" class=" h-0 w-full" />

		<Header />

        <Main>

            <slot />

        </Main>

        <Footer />

		<BackToTop />
		
	</body>
</html>


