---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'li'> {

    /** 
     * Link href of Contact link 
     * */
    href? : string,

    /**
     * Extra class names
     */
    class? : string,

    /**
     * @prop href string
     * @prop icon string
     */
    props? : true,
}

const {
    href,
    class: className = ''
} = Astro.props

const Element = href ? 'a' : 'span'
---


<li class="last-of-type:hidden md:last-of-type:block">
    <Element
        {...( href ? { href } : {} )}
        class:list={[
            'fic-1 sm:fic-2 text-sm sm:text-base text-primary-100',
            href ? 'hover:underline' : 'select-none',
            className
        ]}
    >
        <slot />
    </Element>
</li>
