---
import type { HTMLAttributes } from 'astro/types';
import type { SubPage } from '../../config/pages';

interface Props extends HTMLAttributes<'ul'> {
    /**
     * The array of pages to show in the mega menu
     */
    pages : SubPage[]
}

const { pages } = Astro.props
---

<ul 
    class="mega-menu hidden lg:grid grid-cols-4 gap-x-8 gap-y-4 p-8 bg-primary-900/90 drop-shadow-xl opacity-95 font-semibold transition-all duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)] overflow-hidden min-w-max"
>
    { pages.map( page => (
        <li class="min-w-max">
            <a 
                href={page.path} 
                class="inline-block hover:text-secondary-400 w-full min-w-max"
            >
                {page.title}
            </a>
        </li>
    ))}
</ul>

<style is:global>

@media screen and (min-width: 1024px) {
    
    .mega-menu {
        position: absolute;
        inset : 95% 0 auto auto;
        z-index: 9999;
        opacity : 0;
        scale: 0.9;
        visibility: hidden;
    }

    a:hover + .mega-menu,
    a:focus-visible + .mega-menu,
    .mega-menu:hover,
    .mega-menu:has(a:focus)  {
        opacity : 1;
        scale : 1;
        visibility: visible;
    }
}

</style>