

<button 
    aria-label="Toggle Menu" 
    data-element="mobile-menu-btn"
    class="relative z-[9999] shrink-0 inline-block h-6 cursor-pointer transition-all active:scale-90"
>

    <svg class="nav-icon-open" width="34" height="25" viewBox="0 0 34 25" fill="none">
        
        <line class="origin-center transition-all duration-500  mobile-btn-line-1"
            x1="2.5" y1="12.5" x2="31.5" y2="12.5" 
            stroke="black" stroke-width="2" stroke-linecap="round"
        />

        <line  class="origin-center transition-all duration-500  mobile-btn-line-2"
            x1="2.5" y1="20.5" x2="31.5" y2="20.5" 
            stroke="black" stroke-width="2" stroke-linecap="round"
        />

        <line class="origin-center transition-all duration-500  mobile-btn-line-3"
            x1="2.5" y1="4.5" x2="31.5" y2="4.5" 
            stroke="black" stroke-width="2" stroke-linecap="round"
        />

    </svg>

</button>

<style is:global>

body[data-mobile-menu="open"] .mobile-btn-line-1 {
    transform: rotate(-225deg);
}

body[data-mobile-menu="open"] .mobile-btn-line-3 {
    transform: rotate(225deg) translate(-0%, 30%);
}

body[data-mobile-menu="open"] .mobile-btn-line-2 {
    transform: rotate(90deg) translateX(200%);
}

</style>

<script src="../../js/components/MobileMenuBtn.ts"></script>
  