---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'li'> {

    /** Link href of Nav Link */
    href : string,

    /** Material icon string */
    icon? : string

    class? : string,

    /**
     * @prop href (string)
     * @prop icon (string)
     * @prop slot
     */
    props? : true
}

const {
    href,
    icon,
    class : className = '',
    ...rest
} = Astro.props

const { pathname } = Astro.url

---

<li class="nav-link" {...rest}>
    <a
        href={href} 
        class={`
        ${className}
        ${pathname === href ? 'border-primary-500' : ''}`} 
    >

        {icon && icon }

        <slot />
    </a>
</li>


<style>

a {
    display : flex;
    align-items: center;
    gap : 0.5rem;
    font-weight: 600;
    border-bottom : 4px solid transparent
}

a:hover, a:focus {
    text-decoration: underline;
    text-underline-offset: 4px;
}

</style>


<style is:global>

li.nav-link {
    display : none;
    transition: all 250ms;
}

@media (min-width: 768px) {
    li.nav-link {
        display: block;
    }
}

.mobile-menu-is-open li.nav-link {
    display: block;
}

</style>

