---
import type { HTMLAttributes } from 'astro/types';
import { PAGES, type PageGroup } from '../../config';
import Icon from '../Icon.astro';
import MegaMenu from './MegaMenu.astro';

interface Props extends HTMLAttributes<'li'> {

    /** Link href of Nav Link */
    href : string,

    /** Material icon string */
    icon? : string,

    dropdown? : PageGroup,

    class? : string,

    /**
     * @prop href (string)
     * @prop icon (string)
     * @prop slot
     */
    props? : true
}

const {
    href,
    icon,
    dropdown = null,
    class : className,
} = Astro.props

const { pathname } = Astro.url

const isActive = pathname === href

const megaMenuPages = !dropdown ? null : PAGES.filter( page => page.group.includes(dropdown))

---

<li>
    <a
        href={href} 
        class:list={[
            className,
            `${isActive ? 'text-secondary-500' : ''}`
        ]}
    >

        <slot />
        { megaMenuPages && <Icon icon="expand_more" class="hidden lg:inline-block" /> }

    </a>

    { megaMenuPages && <MegaMenu pages={megaMenuPages} /> }
</li>


<style>

a {
    display : flex;
    align-items: center;
    gap : 0.15rem;
    padding : 0rem 0.2rem;
    font-weight: 600;
    border-bottom : 4px solid transparent
}

a:hover, a:focus {
    border-color: hsl(var(--primary-color) 50% );
}

</style>



