---
import type { HTMLAttributes } from 'astro/types';
import { PAGES, type PageGroup } from '../../config';
import MegaMenu from './MegaMenu.astro';

interface Props extends HTMLAttributes<'li'> {

    /** Link href of Nav Link */
    href : string,

    dropdown? : PageGroup,

    class? : string,

    /**
     * @prop href (string)
     * @prop icon (string)
     * @prop slot
     */
    props? : true
}

const {
    href,
    dropdown = null,
    class : className,
} = Astro.props

const { pathname } = Astro.url

const isActive = pathname === href

const megaMenuPages = !dropdown ? null : PAGES.filter( page => page.group.includes(dropdown))

---

<li>
    <a
        href={href} 
        class:list={[
            'block py-1 text-primary-100 tracking-wide font-bold border-b-2 border-transparent hover:border-primary-500',
            className,
            `${isActive ? 'text-secondary-500' : ''}`
        ]}
    >

        <slot />

    </a>

    { megaMenuPages && <MegaMenu pages={megaMenuPages} /> }
</li>





