---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'li'> {

    /** 
     * Link href of Nav Link 
     * */
    href : string,

    /**
     * Extra class names
     */
    class? : string,

    /**
     * @prop href string, required
     * @prop class string
     */
    props? : true
}

const {
    href,
    class : className,
} = Astro.props

const isActive = Astro.url.pathname === href
---

<a
    href={href} 
    class:list={[
        'block py-1 tracking-wide font-bold border-b-2 border-transparent hover:border-primary-400 text-2xl lg:text-base',
        { 'text-secondary-500' : isActive},
        className,
    ]}
>
    <slot />
</a>





