---
import { CircleArrowRight } from "lucide";
import Icon from "../../components/Base/Icon.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import H1 from "../../components/Heading/H1.astro";
import Section from "../../components/Layout/Section.astro";
import { FAQ } from "../../config/faq";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Web design frequently asked questions"
    description="Custom, affordable web design"
>

    <H1>Frequently asked questions</H1>

    <Section>

        <TextBlock>

            { FAQ.map( question => (
                <div class="pb-4 border-b border-primary-200">
                    <span class="flex items-start gap-2 py-2 text-xl">
                        <Icon icon={CircleArrowRight} stroke-width="1.5" class="translate-y-1" />
                        {question.question}
                    </span>
                    <p class="py-4 pl-8" set:html={question.answer} />
                </div>
            )) }

            <p>
                If you have any other questions, feel free to <a href="/contact">contact me.</a>
            </p>
            
        </TextBlock>
        
    </Section>

</Layout>