---
import H1 from "../../components/Heading/H1.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Web design frequently asked questions"
    description=""
>

    <H1>Frequently asked questions</H1>

</Layout>